<div>
    <div id="headerDiv" class="search-header">
        <!--<label class="span3">Search Resumes:</label>-->
        <img src="img/resume-logo.jpg" alt="Pramati Logo" class="span2"/>
        <input type="text" placeholder="Enter query here!" class="span7"/>
        <button class="btn btn-primary btn-large btn-search"><i class="icon-white icon-search"></i></button>
    </div>

    <!-- Results display here-->
    <div id='results-div' class="row-fluid">
        <div id="results-header" class="row results-header">
            <span class="label label-info">Search Key: {{ result.searchKey }}</span>
            <span class="label label-info">Context Key: {{ result.contextKey }}</span>
            <span class="label label-info">Total Hits: {{ result.totalHits }}</span>
            <span class="label label-info">Search Duration: {{ result.searchDuration }}ms</span>
            <span class="label label-info">Segregation Duration: {{ result.searchDuration }}ms</span>
            <span class="label label-info">Highlight Duration: {{ result.highlightTime }}ms</span>
        </div>
        <div class="row results-main">
            <div id="results-sidebar" class="span3 results-sidebar">
                <ul class="nav nav-list results-sidenav">
                    <li class="{{ activeList.active }}">
                        <a ng-click="showHits('active')"> <i class="icon-chevron-right"></i>Active ({{ count.active }})</a>
                    </li>
                    <li class="{{ activeList.probable }}">
                        <a ng-click="showHits('probable')"><i class="icon-chevron-right"></i>Probable ({{ count.probable }})</a>
                    </li>
                    <li class="{{ activeList.inActive }}">
                        <a ng-click="showHits('inActive')"><i class="icon-chevron-right"></i>InActive ({{ count.inActive }})</a>
                    </li>
                </ul>
            </div>

            <div id="results-body" class="span9 results-body">
                <div class="row-fluid result-body-filter">
                    <div class="results-filter pull-left span4">
                        <input type="text" class="span12" placeholder="Filter Names"/>
                    </div>
                    <div class="results-order-by pull-left span4 offset1">
                        <div class="dropdown">
                            <a class="dropdown-toggle btn">
                                Order by
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#">Name</a></li>
                                <li><a ng-href="#">Match Percentage</a></li>
                                <li><a ng-href="#">Highlight count</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-fluid results-container">
                    <ul class="nav nav-tabs nav-stacked">
                        <li class="resultListElement" ng-repeat="(name,person) in list">
                            <div id="itemDivActive0" class="itemHeader" data-toggle="popover" data-placement="bottom"
                                 data-content="{{ person.closematch }}" data-original-title="Related Match!"><span
                                    class="titleLabel">{{ name }}</span><a
                                    class="expandSummary offset1 pull-right span1"
                                    href="#"
                                    title="Expand/Collapse Context"><span
                                    class="badge pull-right"> {{ person.summary.length }} <i
                                    class="icon-chevron-down"></i></span></a><a
                                    class="offset1 pull-right"
                                    href="{{ person.filepath }}"
                                    data-toggle="modal"
                                    title="View Doc as Plain Text"
                                    data-target="#myModal"><i
                                    class="icon-eye-open"></i></a></div>
                            <div class="summaryDiv">
                                <p class="summaryPara" ng-repeat="para in person.summary" ng-bind-html-unsafe="para">
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
